.rv-container {
    width: 95%;
    margin: 7.5vmax auto 0;
    border: 10px solid rgba(3, 141, 148, 0.979);
    position: relative;
    border-radius: 1vmax;
  }
  
  .rv-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(3, 141, 148, 0.979);
    color: #f5f5f5;
    padding: 1vmax 0.2vmax;
  }
  
  .rv-slider {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    scroll-behavior: smooth;
    padding: 10px 2vmax;
   
  }
  
  .rv-slider::-webkit-scrollbar {
    display: none;
  }
  
  .rv-card {
    min-width: 180px;
    flex: 0 0 auto;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .rv-btn-left{
    position: absolute;
    border: none;
    font-size: 3vmax;
    font-weight: 600;
    left: 0;
    top: 50%;
    padding: 0 5px;

  }
  .rv-btn-right{
    position: absolute;
    border: none;
    font-size: 3vmax;
    font-weight: 600;
    right: 0;
    top: 50%;
    padding: 0 5px;

  }
  
  .rv-card:hover {
    transform: translateY(-5px);
  }
  
  .rv-card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    background: #f5f5f5;
    border-radius: 8px;
  }
  
  .rv-card p {
    font-size: 14px;
    margin-top: 8px;
    font-weight: 500;
  }
  
  /* Desktop → show around 5 cards */
  @media (min-width: 1024px) {
    .rv-card {
      min-width: 200px;
    }
  }
  
  /* Mobile → show 2 cards */
  @media (max-width: 600px) {
    .rv-card {
      min-width: 45%;
    }
  }