.rev-container{
    position: relative;
    width: 90%;
    margin: auto;
    display: flex;
    gap: 1vmax;
    
}
.review-card-container{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 2vmax;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    padding: 1vmax;
    background: rgb(237, 239, 239);
    margin-bottom: 1vmax;
    border-radius: 1vmax;
    /* color: red; */


}
.rev-img-container>img{
width:50px
}
.ratings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.ratings >p:last-child{
    /* padding: 1vmax 0; */
    color: rgba(0, 0, 0, 0.5)
}
.ratings>p:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background:  rgb(2, 159, 57); */
    color: #fff;
    border-radius: 5px;
    padding: 0vmax 0.7vmax;
    text-align: center;
}
.ratings>p:first-child>span:last-child{
    padding: 0 2px;
    margin-top: 3px;
}
.more-rev-btn{
    /* position: absolute; */
    position: sticky;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(3, 134, 248, 0.7);
    font-size: 1.2vmax;
    background: rgb(250, 250, 250);
    padding: 0.5vmax 0;
    width: 100%;
    top: 30vmax;
    cursor: pointer;

}
.more-rev-btn-disable{
    position: sticky;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(248, 3, 48, 0.7);
    font-size: 1.2vmax;
    background: rgb(250, 250, 250);
    padding: 0.5vmax 0;
    width: 100%;
    top: 30vmax;
    cursor: pointer;
}
.posted{
    color: gray;
}
.rvw-user-name{
    font: 500 1rem 'Franklin Gothic Medium';
    color: black;
}
.rev-comment{
    color: rgb(58, 58, 58);
}
.pending {
    font-size: 14px;
    color: #ff9800;
    font-weight: 500;
  }
  
  .dots::after {
    content: "";
    display: inline-block;
    width: 1.5em;
    text-align: left;
    animation: dots 1.5s steps(4, end) infinite;
  }
  
  @keyframes dots {
    0%   { content: ""; }
    25%  { content: "."; }
    50%  { content: ".."; }
    75%  { content: "..."; }
    100% { content: ""; }
  }

  @media screen and (max-width: 800px){
    .rev-container{
        display: block;


    }
  }
  